@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
    min-width: 531px;
    color: #dddddd;
    font-size: 16px;
    background-color: #3c3d3e;
    font-family: "Roboto", sans-serif;
}

ul {
    padding: 0;
}

.user {
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border-top: 1px solid #eee;
    overflow: hidden;
    transition: all .25s ease;
}

.user:last-child {
    border-bottom: 1px solid #eee;
}

.v-enter, .v-leave-active {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.errors {
    color: #dc2a2f;
}


div.borderedDiv {
    border: 2px #dddddd;
    text-align: center;
}
div#header {
    font: bold 24px monospace;
    min-width: 200px;
    width: 50%;
    margin: auto;
    /*color: black;*/
}
div.centered {
    margin: 0 auto;
    text-align: center;
}

div#clock {
    font-size: 40px;
    margin: 10px auto;
    display: table;
    width: 150px;
}
 .is-invalid{
     border: 2px solid #c13a3c;
 }
.is-valid{
    border: 2px #4caf50;
}
div a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
div a:hover, div a:active, div a:focus{
    text-decoration: none;
    color: #FFFFFF;
    background: #43A047;
}
.quit{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #c13a3c;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.quit:hover,.quit:active,.quit:focus {
    background: #b03032;
}
div#main {
    color: #dddddd;
    min-width: 1120px;
}
div.graph {
    width: 48%;
    margin: 5px;
    float:left;
}
table#data {
    border-collapse: collapse;
}
table#data td, th{
    border: 2px #dddddd;
    padding: 1px;
    text-align: center;
}
div.table {
    /*width: 300px;*/
    float:left;
}

div#image {
    float: right;
}
/*div#input {*/
    /*display: inline-block;*/
    /*float: none;*/
    /*width: 265px;*/
    /*padding: 10px;*/
/*}*/
div#link {

    text-align: center;

}
div#alert {
    margin-top: 10px;
    padding: 0.5%;
    display: inline-block;
    float: none;
    visibility: hidden;
    width: 276px;
}
table#data {
    border-collapse: collapse;
}
table#data td, th{
    border: 2px #dddddd;
    padding: 5px;
    text-align: center;
}
#app, #registration, #sign_in{
    width: 50%; margin: 0 auto;
    text-align: center;
    color: #dddddd;
    border: 2px #dddddd;
    background-color: #3c3d3e;
}
#app .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1)
}

#app .dropdown li:last-child {
    border-bottom: none;
}

#app .dropdown li a {
    padding: 10px 20px;
    /*display: flexo*/
    width: 100%;
    align-items: center;
    font-size: 1.25em;
}

#app .dropdown li a .fa {
    padding-right: 0.5em;
}

/*#canvas*/
/*{*/
    /*width: 43%;*/
    /*!*margin-left: 10px;*!*/
    /*margin-top: 30px;*/

/*}*/

.sharp {
    border-radius: 0;
}

.btn-submit {
    color: #dddddd;
    font-size: 19px ;
    text-decoration: none;
    padding: 10px 10px;
    /* background-color: LightSlateGray; */
    background-color: rgba(60, 61, 62, 0.7);
    border: 1px #dddddd;
}
.btn-submit:hover {
    /* background-color: SlateGrey;  */
    color: #dddddd;
    text-decoration: none;
    background-color: rgba(75, 76, 77, 0.7);
}
.btn-submit:active {
    background-color: SlateGrey; /* Цвет кнопки при нажатии */
}
.form-group{
    margin-left: 0;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.portal{
    width: 600px;
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
}
.test{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
/*.table{*/
    /*width: 400px;*/
/*}*/
#myCanvas{
    width: 500px;
    height: 500px;
}
#canvas{
    display: inline-block;

}