<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/moment.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="js/jcanvas.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/inputCheck.js"></script>
    <script src="js/check.js"></script>
    <script src="js/updateY.js"></script>
    <script src="js/fields.js"></script>
    <script src="js/drawAxes.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/drawPoint.js"></script>
    <script src="js/addTableRow.js"></script>
</head>
<body>
<div class="row">
    <div id="canvas">
        <canvas id="myCanvas" width="500" height="500"
                style="border:1px solid #dddddd; background-color: rgba(75, 76, 77,0.7);">
            <p>This is fallback content for users of assistive technologies or of browsers that don't have full support
                for the Canvas API.</p>
        </canvas>
    </div>
    <div class="col-lg-6 col-md-10">
        <form action="control" method="POST" onsubmit="return false;" id="form">
            <div class="row disable-selection">
                  <div id="X" class="form-group col-sm" style="text-align: center">
                    <label>X</label>
                    <select v-model="inputX" name="X" id="inputX" class="form-control" >
                        <option v-for="X in Xs" :value="X">{{ X }}</option>
                    </select>
                </div>
                <div class="form-group col-sm" style="text-align: center">
                    <label>Y</label>
                    <input type="text" maxlength="10" class="form-control is-invalid" id="inputY" name="inputY"
                           placeholder="(-3, 3)"
                           oninput="updateY()" onchange="updateY()">
                </div>
                <div id="R" class="form-group col-sm" style="text-align: center">
                    <label>R</label>
                    <select v-model="inputR" name="R" id="inputR" class="form-control" >
                        <option v-for="R in Rs" :value="R">{{ R }}</option>
                    </select>
                </div>

            </div>
            <div style="text-align: center" class="disable-selection">
                <a href="javascript:void(0)" class="btn-submit sharp" style="border:1px solid #dddddd;" id="checkpoint">
                    Check the point</a>
            </div>
            <button onclick="addTableRow()">Test</button>
        </form>
        <table class="table" id="hits_table">
            <thead>
            <tr>
                <th id="number_table">#</th>
                <th id="X_table">X</th>
                <th id="Y_table">Y</th>
                <th id="R_table">R</th>
                <th id="IsInArea_table">Is in area?</th>
                <th id="CurrTime_table">Current time</th>
                <th id="ExecTime_table">Execution time</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>