<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 4</title>
    <meta name="viewport" content="width=device-width, initialscale=1">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/inputCheck.js"></script>
    <script src="js/check.js"></script>
    <script src="js/updateY.js"></script>
    <script src="js/fields.js"></script>
    <script src="js/drawAxes.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/drawPoint.js"></script>
    <script src="js/addTableRow.js"></script>
    <script src="js/restoreTable.js"></script>
    <script src="js/restoreHitHistory.js"></script>
</head>
<body>
<script>
    restoreTable();
    restoreHitHistory();
</script>
<style>
    .is-invalid{
        border: 2px solid #c13a3c;
    }
    .is-valid{
        border: 2px solid green;
    }
</style>
<div class="container">
    <div class="row visible-on" style=" text-align:center; padding-top: 10px; padding-bottom: 10px">
        <div id="canvas" class="col-md-7 col-lg-6 col-12" style="margin: auto; ">
            <canvas id="myCanvas" width="500" height="500"
                    style="border:1px solid #dddddd; background-color: rgba(75, 76, 77,0.7);">
                <p>This is fallback content for users of assistive technologies or of browsers that don't have full
                    support
                    for the Canvas API.</p>
            </canvas>
        </div>
        <div class="col-3 col-sm-12 col-md-5 col-lg-6" style="margin: auto">
            <form action="control" method="POST" onsubmit="return false;" id="form">
                <div class="row">
                    <div id="X" class="form-group" style="text-align: center">
                        <label>X</label>
                        <select v-model="inputX" name="X" id="inputX" class="form-control">
                            <option v-for="X in Xs" :value="X">{{ X }}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm" style="text-align: center">
                        <label>Y</label>
                        <input type="text" maxlength="10" class="form-control is-invalid" id="inputY" name="inputY"
                               placeholder="(-3, 3)"
                               oninput="updateY()" onchange="updateY()" max="3" min="-3" required>
                    </div>

                    <div id="R" class="form-group col-sm" style="text-align: center">
                        <label>R</label>
                        <select v-model="inputR" name="R" id="inputR" class="form-control">
                            <option v-for="R in Rs" :value="R">{{ R }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div style="text-align: center" class="disable-selection">
                    <a href="javascript:void(0)" id="checkpoint">
                        Check the point</a>
                    <a onclick="quit()" class="quit">Quit session</a>
                </div>
            </form>
            <br>
        </div>
        <div class="col-3 col-sm-12 col-md-12 col-lg-6">
            <table class="table" id="hits_table">
                <thead>
                <tr>
                    <th id="X_table">X</th>
                    <th id="Y_table">Y</th>
                    <th id="R_table">R</th>
                    <th id="IsInArea_table">Hit</th>
                    <th id="CurrTime_table">Current time</th>
                    <th id="ExecTime_table">Execution time</th>
                </tr>
                </thead>
            </table>
            <!--<span class="hidden-lg" style="color:blue;">Large hidden class</span>-->
            <!--<span class="visible-xl-inline" style="color:red;"> Visible on xlarge</span>-->
        </div>
    </div>
</div>
</div>
<script>
    function quit() {
        $.ajax({
            // url: 'http://localhost:3080/Lab4_war/web/sign/out',
            url: 'http://localhost:8080/Lab_4_war_exploded/web/sign/out',
            type: "post",
            contentType: "application/json",
            success: function () {
                // location.href = 'http://localhost:3080/Lab4_war/index.html'
                location.href =  'http://localhost:8080/Lab_4_war_exploded/index.html'
            }
        });
    }

    var r = new Vue({
        el: '#R',
        data: function () {
            return {
                R: null,
                Rs: [
                    '1', '2', '3', '4', '5'
                ],
            }
        }
    });
    r.R = null;
    new Vue({
        el: '#X',
        data: function () {
            return {
                X: null,
                Xs: [
                    '-5', '-4', '-3', '-2', '-1', '0', '1', '2', '3'
                ],
            }
        }
    })
</script>
</body>

</html>