<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body style="background-color: #3c3d3e">
<div class='row'>
    <div class="col-lg-6 col-md-10" id="sign_in">

        <p>Saraev Vladislav | Kirill Pastuhov</p>
        <p>P3218 v.19083</p>
        <p>Login</p>
        <form id="form" v-on:submit.prevent="addUser">
            <input class="form-control" type="text" id="Login_S" v-model="newUser.login" placeholder="Login">
            <br>
            <input class="form-control " type="password" id="Password_S" v-model="newUser.password"
                   placeholder="Password">
            <br>
            <ul class="errors">
                <li v-show="!validation.login">Login cannot be empty.</li>
                <li v-show="!validation.password">Password cannot be empty</li>
            </ul>
            <input type="submit" class="btn-submit sharp" style="border:1px solid #dddddd;" value="Sign In"
                   v-on:click="loginUser">
        </form>
        <br>
        <button class="btn-submit sharp" style="border:1px solid #dddddd;" onclick="location.href='register.html'">
            To registration
        </button>
    </div>
</div>
</div>

<script>
    let passwordRE = /./;

    // create Vue app
    let app = new Vue({
        // element to mount to
        el: '#sign_in',
        // initial data
        data: {
            newUser: {
                login: '',
                password: ''
            }
        },
        computed: {
            validation: function () {
                return {
                    login: !!this.newUser.login.trim(),
                    password: passwordRE.test(this.newUser.password)
                }
            },
            isValid: function () {
                let validation = this.validation;
                return Object.keys(validation).every(function (key) {
                    return validation[key]
                })
            }
        },
        // methods
        methods: {
            loginUser() {

                let Login = $('#Login_S').val();
                let Password = $('#Password_S').val();
                let json = (String(JSON.stringify({
                    Password: Password,
                    Login: Login
                })));
                console.log(json);
                $.ajax({
                    // url: 'http://localhost:1314/Lab4_war/web/sign/in',
                    // url: 'http://localhost:3080/Lab_4_war/web/sign/in',
                    url: 'http://localhost:8080/Lab_4_war_exploded/web/sign/in',
                    type: "post",
                    contentType: "application/json",
                    data: {
                        content: json
                    },
                    success: function () {
                       // location.href = 'http://localhost:1314/Lab4_war/main.html'
                        // location.href = 'http://localhost:3080/Lab_4_war/main.html'
                        location.href = 'http://localhost:8080/Lab_4_war_exploded/main.html'
                    },
                    statusCode: {
                        500: function () {
                            $('.hide-block').html("User not found");
                        }
                    }

                });

            },
        }
    });
</script>
</body>
</html>
