<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="js/jquery.session.js"></script>
    <script src="js/sendUserData.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div id="register">
    <p>Register User</p>
    <input type="text" id="Login" v-model="newUser.name" placeholder="Login">
    <input type="password" id="Password" v-model="newUser.email" placeholder="Password">
    <input type="button" name="enter" value="Register" onclick="sendUserData()" />
    <ul class="errors">
        <li v-show="!validation.name">Name cannot be empty.</li>
        <li v-show="!validation.email">Password cannot be empty</li>
    </ul>
</div>
</body>
</html>